AI Nodes/Sentiment_Analyzer.json
{
  "name": "Sentiment Analyzer",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -560,
        -180
      ],
      "id": "343ecf8f-43b6-4477-8a69-43683d8c1ad3",
      "name": "When chat message received",
      "webhookId": "1284f2e3-b69c-463d-94d7-c39cdabe7a08"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1laC3_e7IEjP0xckYdZ1qv5xv8TI98HgDxY0usqkr71M",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1laC3_e7IEjP0xckYdZ1qv5xv8TI98HgDxY0usqkr71M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1689505019,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1laC3_e7IEjP0xckYdZ1qv5xv8TI98HgDxY0usqkr71M/edit#gid=1689505019"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sentimentAnalysis",
              "displayName": "sentimentAnalysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        320,
        -140
      ],
      "id": "7b6e2d11-737e-4336-85d2-354139835a64",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5PASiptg7EmE8uDT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.chatInput }} is the input text\n\nYou are a sentiment analzer, return the result using one of the three categories. Only return one word",
        "options": {
          "categories": "Positive, Neutral, Negative"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        -360,
        -80
      ],
      "id": "47823b03-eb17-4112-8b19-6ad6333b3148",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -280,
        140
      ],
      "id": "f6996865-8530-4723-b59d-3eb3e15d2332",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "p9GMtbsbjcUz5Os3",
          "name": "Groq account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ac4fca2e-4ca9-460b-a561-b28853cd2a4b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "473b5740d5349fb03e761225b353421ac7ccb518159acd126e34ec02cab1979c"
  },
  "id": "wQYvwRW628i4WBFi",
  "tags": []
}